vcl 4.0;

# This is a basic VCL configuration file for varnish.  See the vcl(7)
# man page for details on VCL syntax and semantics.
#
# Default backend definition.  Set this to point to your content
# server.
backend default {
  .host = "{{ varnish_default_backend_host }}";
  .port = "{{ varnish_default_backend_port }}";
}

acl purge {
    "localhost";
    "127.0.0.1";
}

sub vcl_recv {
  if (req.method == "PURGE") {
      if (!client.ip ~ purge) {
          return(synth(405, "This IP is not allowed to send PURGE requests."));
      }
      return (purge);
  }

  if (req.http.Authorization || req.method == "POST") {
      return (pass);
  }

  if (req.http.Cookie) {
      set req.http.Cookie = ";" + req.http.Cookie;
      set req.http.Cookie = regsuball(req.http.Cookie, "; +", ";");
      set req.http.Cookie = regsuball(req.http.Cookie, ";(tc)=", "; \1=");
      set req.http.Cookie = regsuball(req.http.Cookie, ";[^ ][^;]*", "");
      set req.http.Cookie = regsuball(req.http.Cookie, "^[; ]+|[; ]+$", "");

      if (req.http.Cookie == "") {
        unset req.http.Cookie;
      }
  }

  return (hash);
}

sub vcl_hash {
    hash_data(req.url);
    hash_data(req.http.Cookie);
    return (lookup);
}

sub vcl_backend_response {

    if(!beresp.http.Set-Cookie ~ "tc=") {
        unset beresp.http.Set-Cookie;
    }

    set beresp.ttl = 2m;
    return (deliver);
}

sub vcl_deliver {
  # Called before a cached object is delivered to the client.

  if (obj.hits > 0) { # Add debug header to see if it's a HIT/MISS and the number of hits, disable when not needed
    set resp.http.X-Cache = "HIT";
  } else {
    set resp.http.X-Cache = "MISS";
  }

  # Please note that obj.hits behaviour changed in 4.0, now it counts per objecthead, not per object
  # and obj.hits may not be reset in some cases where bans are in use. See bug 1492 for details.
  # So take hits with a grain of salt
  set resp.http.X-Cache-Hits = obj.hits;

  # Remove some headers: PHP version
  unset resp.http.X-Powered-By;

  # Remove some headers: Apache version & OS
  unset resp.http.server;
  unset resp.http.X-Varnish;
  unset resp.http.Via;
  unset resp.http.Link;
  unset resp.http.X-Generator;

  return (deliver);
}